<a href="https://colab.research.google.com/github/bcaffo/ds4bme_intro/blob/master/notebooks/notebook5_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import sklearn as skl
import statsmodels.formula.api as smf
import statsmodels as sm

## this sets some style parameters
sns.set()

## Read in the data and display a few rows
dat = pd.read_csv("https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/oasis.csv")

In [15]:
dat.head()

      FLAIR        PD        T1  ...     T1_20     T2_20  GOLD_Lesions
0  1.143692  1.586219 -0.799859  ...  0.219136  0.298662             0
1  1.652552  1.766672 -1.250992  ...  0.061573  0.280972             0
2  1.036099  0.262042 -0.858565  ...  0.020673 -0.259914             0
3  1.037692  0.011104 -1.228796  ... -0.193249 -0.139284             0
4  1.580589  1.730152 -0.860949  ...  0.071648  0.340601             0

[5 rows x 13 columns]

In [19]:
#results = smf.ols('PD ~ FLAIR + T1 + T2  + FLAIR_10 + T1_10 + T2_10 + FLAIR_20', data = dat).fit()
results = smf.ols('PD ~ FLAIR + T1', data = dat).fit()
print(results.summary2())

                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     0.368
Dependent Variable: PD               AIC:                180.8632
Date:               2020-09-20 19:46 BIC:                188.6787
No. Observations:   100              Log-Likelihood:     -87.432
Df Model:           2                F-statistic:        29.82
Df Residuals:       97               Prob (F-statistic): 8.04e-11
R-squared:          0.381            Scale:              0.34688
------------------------------------------------------------------
               Coef.   Std.Err.     t     P>|t|    [0.025   0.975]
------------------------------------------------------------------
Intercept      0.0718    0.1658   0.4333  0.6657  -0.2572   0.4009
FLAIR          0.3448    0.0917   3.7621  0.0003   0.1629   0.5267
T1            -0.5354    0.0780  -6.8662  0.0000  -0.6902  -0.3807
-----------------------------------------------------------------
Omnibus:               6.896        Durbin-Watson:          2.127
Prob(Omnibus):         0.032        Jarque-Bera (JB):       7.092
Skew:                  -0.443       Prob(JB):               0.029
Kurtosis:              3.958        Condition No.:          6
=================================================================

In [20]:
y1 = dat.PD
x1 = np.zeros(y.size) + 1
x2 = dat.FLAIR
x3 = dat.T1

def resid(x, y):
  return y - x * np.sum(x * y) / np.sum(x ** 2)

## Regress x1 out of everything
ey1x1 = resid(x1, y1)
ex2x1 = resid(x1, x2)
ex3x1 = resid(x1, x3)

## Regress the residual for x2 out of everything
ey1x1x2 = resid(ex2x1, ey1x1)
ex3x1x2 = resid(ex2x1, ex3x1)


np.sum(ex3x1x2 * ey1x1x2) / np.sum(ex3x1x2 ** 2)

-0.5354478184289665